

/*body*/
body{
	background-color: maroon;
	padding-left: 15px;
	padding-right: 15px;
	

}





/* header nav bar */
#header-nav{
	margin: 10px
}

/*h1*/

h1{
	position: relative;
	background-color: orange;




}
h1 div{
	color: white;
	font-weight: bold;
	font-size: 1.4em;
	
}
 /* main content of page*/ 

#maincontent{
	position: relative;
}

 #body{
	background-color: grey;
	height: 1100px;
	margin-top: 15px;
	padding: 10px;
	color: white;
	position: relative;
	text-align: center;


}
#title-menu{
	position: top:0 right:0 ;
	color: white;
	font-size: 2em;
}
#nav-list{
	background-color: orange;
}

div ul li a span{
	color: white;
	font-size: 2em;
}